.about {
  text-align: center;
  padding: 2rem;
  /* height: 80vh; */
}

.aboutcontent {
  width: 80%;
  
  /* border: 1px solid #657A97; */
  box-shadow: 0px 0px 10px  #657A97;
  border-radius: 8px;
  /* color: #465048; */
  /* color: #226160; */
  /* color:#20525C; */
  color: #213502;
  font-weight: 500;
  /* font-family: "Josefin Sans", sans-serif; */
}

.skillhead {
  color: #005452;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

.aboutmain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about h2 span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size:1.6rem;
  /* background-color:#006465; */
  background-color: #5B247A;
  padding: 6px 16px;
  border-radius: 25px;
  color:white;
}

.aboutcontent p:first-child {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

.skillsmain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.frontend {
  width: 40%;
  display: flex;
  flex-direction: column;
  
  /* border: 1px solid rgb(23, 1, 83); */
  border-radius: 10px;
  /* background-color: #657A97; */
  /* background-image: linear-gradient(to bottom right,#42E695,#3BB2B3); */
  background-image: linear-gradient(to bottom right,#5B247A,#1BCEDF);
  
}

.frontenditems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 25px 10px;
}

.logoimg {
  width: 20px;
  height: 20px;
}

.frontend p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  color: #E9EDF8;
  /* color: #213502; */
  font-weight: 550;
}

.logo-item {
  width:30%;
  font-family: "League Spartan", sans-serif;
  font-weight: 550;
  padding: 0px 30px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 40px;
  /* border: 1px solid rgb(100, 2, 95); */
  background-color: white;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 1rem;
  }
  .frontend{
    width:80%;
  }
}

@media screen and  (max-width: 425px) {
  .about {
    padding: 0.5rem;
  }
  .frontend{
    width:80%;
  }
  .logo-item{
    width: 40%;
  }
  .aboutcontent p:first-child {
    font-size: 1rem;
  }
}

@media screen and  (max-width: 375px) {
  .about {
    padding: 0.5rem;
  }
}

@media screen and  (max-width: 320px) {
  .about {
    padding: 0.5rem;
  }
}