.contact {
    text-align: center;
    padding: 2rem;
    margin:2.5rem 0rem;
  }
  .contact h2 span  {
    background-color: #c6cecf;
    padding: 6px 16px;
    border-radius: 25px;
    color:#FF7300;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.contactinfo{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
    width: 70%;
    margin-top: 20px;
}
.contactinfo img{
  width: 40%;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 40px;
  margin-top: 30px;
  gap: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 8px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.contact-item i {
  font-size: 1.5rem;
  color: white;
}

.contact-item a {
  text-decoration: none;
  color: white;
  font-weight: 550;
}

  @media screen and (max-width: 768px) {
    .contact {
      padding:0.5rem;
      margin: 2.2rem 0rem;
    }
    .contactinfo{
      width: 100%;
    }
    .contact h2 span{
      font-size: 17px;
    }
    .contact-item i{
      font-size: 1rem;
    }
    .contact-item a{
      font-size: 1.1rem;
    }
  }
  
  @media screen and  (max-width: 425px) {
    .contact {
      padding: 0.5rem;
    }
  .contactinfo{
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .contactinfo img{
    width: 60%;
  }
  .contact-item i{
    font-size: 14px;
  }
  .contact-item a{
    font-size:14px;
  }
  }
  
  @media screen and  (max-width: 375px) {
    .contact {
      padding: 0.5rem;
    }
  }
  
  @media screen and  (max-width: 320px) {
    .contact {
      padding: 0.5rem;
    }
  }
  