.footer {
    text-align: center;
    padding: 1rem;
    font-family: "Libre Baskerville", serif;
    color: white;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and  (max-width: 425px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and  (max-width: 375px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      padding: 0.5rem;
    }
  }
  