.footer {
    text-align: center;
    padding: 1rem;
    /* background-color: #2B4F71; */
    background-color:#622774;
    font-family: "Libre Baskerville", serif;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and  (max-width: 425px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and  (max-width: 375px) {
    .footer {
      padding: 0.5rem;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      padding: 0.5rem;
    }
  }
  