.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #8b0375; */
    /* background-color:#2B4F71; */
    /* background-color:#C53364; */
    /* background-color:#622774; */
    background-color: #5B247A;
    /* background-image: linear-gradient(to bottom right,#184E68,#57CA85); */
    width: 100%;
    color: #E9EDF8;
    position: fixed;
    top: 0;
    z-index: 1;
    height:30px;
  }
  .devlogo{
    font-size: 25px;
  }
  .header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
  }
  .header-title span{
    margin: 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 28px;
  }
  .nav {
    display: flex;
    /* border: 1px solid green; */
    margin-right: 30px;
    cursor: pointer;
  }

  .hai{
    color:red;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
  }
  /* .nav-link:focus{
    color: chartreuse;
  } */
  .menu-toggle {
    display:none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
  }
  
  .nav-open {
    display: block;
  }
  
  @media screen and  (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto; /* Adjust height for smaller screens */
      padding: 1rem 0.5rem;
    }
  
    .nav {
      flex-direction: column;
      align-items: center;
      display: none;
    }
  
    .nav-open {
      display: flex;
      margin: 0;
    }
  
    .nav-link {
      margin: 0.5rem 0;
    }
  
    .menu-toggle {
      display: block;
    }
    .header-title{
      width: 90%;
      justify-content: space-between;
      gap: 10px;
    }
  }
  
  @media screen and  (max-width: 425px) {
    .nav-link {
      font-size: 1rem;
    }
  
    .menu-toggle {
      font-size: 1.8rem;
    }
    .header-title span{
      font-size: 1.4rem;
    }
  }
  
  @media screen and  (max-width: 375px) {
    .nav-link {
      font-size: 0.9rem;
    }
  
    .menu-toggle {
      font-size: 1.8rem;
    }
  }
  
  @media screen and  (max-width: 320px) {
    .nav-link {
      font-size: 0.8rem;
    }
  
    .menu-toggle {
      font-size: 1.8xrem;
    }
  }
  