.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: rgb(31,34,53); */
    /* background-color: rgb(171,38,186); */
    width: 100%;
    color: #E9EDF8;
    /* color: black; */
    position: fixed;
    top: 0;
    z-index: 1;
    height:40px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  .devlogo{
    font-size: 25px;
  }
  .header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
  }
  .header-title span{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
  }
  .nav {
    display: flex;
    /* border: 1px solid green; */
    margin-right: 30px;
    /* cursor: pointer; */
    height: 40px;
  }
  /* .active-scroll-spy {
    background-color: yellowgreen;
    border-radius: 15px;
  } */
  .active{
    /* background-color: yellowgreen; */
    /* text-decoration: underline; */
    /* color:yellow; */
    /* color: chartreuse; */
    /* color: #69DACA; */
  border-bottom: 2px solid #ff7300;
    /* font-weight: bold; */
    /* border-radius:10px ; */
    /* font-weight: bold; */
    
  }
  .nav-link {
    /* color: white; */
    margin: 0 1rem;
    font-family: "Poppins", sans-serif;
    font-size:1.2rem;
    padding: 3px 10px;
    /* font-weight: bold; */
    /* padding: 0px 10px; */
  }
  /* .nav-link:focus{
    color: chartreuse;
  } */
  .menu-toggle {
    display:none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
  }
  
  .nav-open {
    display: block;
  }
  
  @media screen and  (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto; /* Adjust height for smaller screens */
      padding: 1rem 0.5rem;
    }
  
    .nav {
      flex-direction: column;
      align-items: center;
      display: none;
      height: auto;
    }
  
    .nav-open {
      display: flex;
      margin: 0;
      width: 100vh;
    }
    .nav-link {
      margin: 0.5rem 0;
      /* border-bottom: 1px solid white; */
    }
  
    .menu-toggle {
      display: block;
    }
    .header-title{
      width: 90%;
      justify-content: space-between;
      gap: 10px;
    }
  }
  
  @media screen and  (max-width: 425px) {
    .nav-link {
      font-size: 1rem;
    }
  
    .menu-toggle {
      font-size: 1.8rem;
    }
    .header-title span{
      font-size: 1.4rem;
    }
  }
  
  @media screen and  (max-width: 375px) {
    .nav-link {
      font-size: 0.9rem;
    }
  
    .menu-toggle {
      font-size: 1.8rem;
    }
  }
  
  @media screen and  (max-width: 320px) {
    .nav-link {
      font-size: 0.8rem;
    }
  
    .menu-toggle {
      font-size: 1.8xrem;
    }
  }
  