.homedescription p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;

}

.home {
  padding-top: 15px;
}

.Homemain {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(29,200,219);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding:45px 0px;
}

.homedescription {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.2rem;
  box-sizing: border-box;
}

.myphoto {
  width: 60%;
  height: auto;
  animation: mypic 8s ease-in-out infinite;
  padding-top: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.myimg {
  width: 40%;
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
}

.homedescription h1 {
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes mypic {
  0% {
    border-bottom-left-radius: 30%;
    border-top-right-radius: 40%;
  }

  50% {
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  100% {
    border-bottom-left-radius: 30%;
    border-top-right-radius: 40%;
  }
}

@media screen and (max-width: 768px) {
  .myimg {
    width: 45%;
    /* height: 70vh; */
  }

  .home {
    padding-top: 0;
  }

  .homedescription {
    width: 45%;
    /* height: 70vh; */
  }

  .homedescription p {
    font-size: 15px;
  }
  .homedescription h1{
    font-size: 1.2rem;
  }
}
@media screen and (max-width:500px){
  .homedescription {
    width: 100%;
    height:auto;
  }
  .myimg {
    width: 100%;
    height:auto;
  }
}
@media screen and (max-width:425px) {
  .homedescription {
    width: 100%;
    height:auto;
  }
  .myimg {
    width: 100%;
    height:auto;
  }
  .myphoto{
    width: 70%;
  }
  .Homemain{
    padding: 30px 0;
  }
  .homedescription h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .homedescription p {
    font-size:14px;
  }

  .myphoto {
    width: 50%;
  }
}