body, html, .app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../src/Images/backbod.jpg);
  background-attachment:fixed ;
  background-repeat: no-repeat;
  background-size: cover;
}       
body::-webkit-scrollbar {
  display: none;
}
.app{
  cursor: url(../src/Images/cursor2.png),auto;
}
 .main-content {
  padding: 2rem;
  margin-top: 40px;
}                                                                 
@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
    margin-top: 90px;
  }
}

@media (max-width: 425px) {
  .main-content {
    padding: 0.5rem;
  }
}

@media (max-width: 375px) {
  .main-content {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  .main-content {
    padding: 0.5rem;
  }
}
