body, html, .app {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color:#E9EDF8;
}

.main-content {
  padding: 2rem;
  margin-top: 40px;
}
/* custom Scrollbar */
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background-color:#d1e5ff;
}
::-webkit-scrollbar-thumb{
  background:#657A97;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
    margin-top: 90px;
  }
}

@media (max-width: 425px) {
  .main-content {
    padding: 0.5rem;
  }
}

@media (max-width: 375px) {
  .main-content {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  .main-content {
    padding: 0.5rem;
  }
}
